* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 10px;
    min-height: 100vh;
    display: flex;
}

.container {
    position: relative;
    border-radius: 6px;
}

.container form{
    position: relative;
    margin-top: 16px;
    min-height: 490px;
}

.first-name, .last-name, .age {
    padding: 10px;
    flex-direction: column;
    width: calc(100% /3 - 5px)
}

.address {
    width: 100%;
}

.place-of-work, .job-title {
    width: 50%;
}

.phone-number, .skype {
    width: 50%
}

button {
    color: green;
}